<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Festive&family=Roboto&display=swap');
    </style>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/filme.css">
    <title>Filnemateca</title>
</head>
<body>
    <header>
        <div class="container">
            <div id="logo">Filnemateca</div>
            <form>
                <input type="search" name="busca" id="busca">
            </form>
        </div>
    </header>
    <main class="container">
        <img src="./img/cartazes/03ea8156766457e7.jpg" alt="Encanto">
        <aside>
            <span class="titulo">Encanto</span>
            <span class="duracao">Duração: 110min</span>
            <span class="censura">Censura: Livre</span>
            <span class="generos">Animação, Aventura</span>
            <span class="sinopse">Ambientado na Colômbia a história gira em torno de uma jovem que vive cercada de magia, mas, diferente de sua família, não possui poderes mágicos, e precisará entender os verdadeiros motivos disso. Aviso: \"ENCANTO contém várias cenas com luzes intermitentes que podem afetar pessoas suscetíveis à epilepsia fotossensível ou que sofrem de outras fotossensibilidades.</span>
            
        </aside>
    </main>
</body>
</html>

